.details, .title {
  padding:0;
  margin:0;
  line-height:1;
} 

.details {
  position: absolute;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  .image-wrapper {
    position:relative;
    .title {
	  position:absolute;
      z-index:1;
      top: 5px;
	  left:5px;
	  font-size:17px;
	  font-weight:bold;
	  color:#fff;
	}
  }
}