.slide-view {
  position: 'relative';
  will-change: transform;
}
.slide-wrapper {
  display: flex;
  position: absolute;
  transition: transform 180ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  .content {
    padding:5px;
    position: relative;
    box-shadow: none;
    z-index: 0;
    transition: transform 180ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}